<html>
  <head>
    <title>My webpage</title>
    <link rel="stylesheet" href="https://brunozhon.github.io/otter/cdn/bcss/1.0.0/b.min.css" />
  </head>
  <body>
    <h1>My webpage</h1>
    <div style="margin: 16px 0px 16px 0px">
      <h1>Hello margin!</h1>
      <p>Hello, this is some text. This is some text.</p>
      <div style="margin: 0px 16px 0px 16px; background-color: red">
        <h2>Top margin cousion!</h2>
        <p>Some info about the content. Some info about the content.</p>
      </div>
      <!--
    </div>
    <div>
      <!-- Another thing --.
      -->
    </div>
  </body>
</html>
