.ninteen-living-coral {
  background-color: #FF6F61;
}
.ninteen-chilli-pepper {
  background-color: #9B1B30;
}
.ninteen-biking-red {
  background-color: #77212E;
}
.ninteen-creme-de-peche {
  background-color: #F5D6C6;
}
.ninteen-peach-pink {
  background-color: #FA9A85;
}
