/*
Top 2019 colors of the year from https://www.w3schools.com/colors/colors_2019.asp
*/
.ninteen-living-coral {
  background-color: #FF6F61;
}
.ninteen-chilli-pepper {
  background-color: #9B1B30;
}
.ninteen-biking-red {
  background-color: #77212E;
}
.ninteen-creme-de-peche {
  background-color: #F5D6C6;
}
.ninteen-peach-pink {
  background-color: #FA9A85;
}
.ninteen-rocky-road {
  background-color: #5A3E36;
}
.ninteen-fruit-dove {
  background-color: #CE5B78;
}
.ninteen-sugar-almond {
  background-color: #935529;
}
.ninteen-dark-cheddar {
  background-color: #E08119;
}
.ninteen-galaxy-blue {
  background-color: #2A4B7C;
}
.ninteen-bluestone {
  background-color: #577284;
}
.ninteen-orange-tiger {
  background-color: #F96714;
}
.ninteen-eden {
  background-color: #264E36;
}
